@import url('https://fonts#googleapis#com/css?family=Jua&display=swap&subset=korean');

/* 게임 시작 화면 */
body {
    background-color: #f4eeff;
    overflow: hidden;
}


body, #titleWrap h1, #startWrap input{
    padding: 0;
    margin: 0;
}

#titleWrap h1, #startWrap input{
    font-family: 'Jua', ;
}

#titleWrap h1, #startWrap{
    text-align: center;
}

#titleWrap h1{
    padding-top: 300px;
    font-size:50px;
    color: #424874;
}

#startWrap input{
    margin-top: 20px;
    font-size: 30px;
    color: #424874;
    width: 170px;
    height:70px;
    border-radius: 20px;
    background-color: #dcd6f7;
    border: 2px solid #dcd6f7;
}


canvas {
    margin-top: 180px;
}